body {
    background: #f5f5f5 !important;
    font-size: 16px;
}

@media only screen and (max-width: 992px) {
    .container {
        width: 80% !important;
    }
}

@media only screen and (max-width: 480px) {
    .container{
        width: 90% !important;
    }
    .nav-left {
        width: 30% !important;
    }

    .title_menu {
        max-width: 70% !important;
        margin: -3px 0 0 12px !important;
    }

}

@media only screen and (max-width: 600px) {
    .nav-left .logo {
        width: 100% !important;
        margin-top: 10px !important;
    }
    .menu_toggle {
        margin-top: 5px !important;
    }
}

@media only screen and (max-width: 992px) {
    .title_menu {
        width: 80% !important;
        margin: -3px 0 0 12px !important;
    }

    .logo {
        width: 60% !important;
        margin-top: 50px;
    }

    .nav-left {
        max-width: 10% !important;
        float: left;
    }

    .menu_toggle {
        margin-top: 5px !important;
    }

}

@media only screen and (min-width: 993px) {
    .container {
        padding-left: 10px;
        width: 80% !important;
    }

    .title_menu {
        width: 80%;
    }
}

/* HEADER */
.nav-left {
    max-width: 5%;
    float: left;
}

.nav-left .logo {
    width: 80%;
    margin-top: 9px;
}

.title_menu {
    width: 20%;
    float: left;
    margin: auto;
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 700;
    color: #525252;
    letter-spacing: -.02em;
    display: inline-block;
    transform: translatey(2px);
    font-size: 16pt;
}

.nav-menu {
    width: 70%;
    float: left;
}
.menu_toggle{
    float: left;
}

.side-nav{
    width: 240px;
}
#mobile-demo .logo_mobile{
    width: 20%;
    margin: 10px 0 10px 80px;
}

nav {
    background: white;
    position: fixed;
    z-index: 999;
    border-top: 3px #1da1f2 solid;
}

nav ul a {
    font-family: 'Miriam Libre';
    font-size: 12pt;
    color: #a1a1a1;
    padding: 0 10px;
}

nav ul a:hover {
    padding: 0 20px;
    color: #008BD3;
}

/* CONTATO*/

.contact {
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-family: 'Miriam Libre';
    font-weight: 700;
    color: #525252;
    letter-spacing: -.02em;
    transform: translatey(2px);
    font-size: 16pt;
}

/* BODY */
.card .card-content {
    padding: 5px !important;
}

.avatar img {
    margin-top: 10px;
}

/*.active {*/
/*background-color: #2196F3 !important;*/
/*color: white !important;*/
/*}*/

.card .card-content {
    padding: 5px !important;
}

.avatar img {
    width: 70%;
}

.recentArticles > .row {
    height: 220px;
}

.article-view article h1 {
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-left: -2.5px;
    line-height: 1.04;
    letter-spacing: -.028em;
}

.article-body .article-content p, .article-body > p {
    text-align: justify;
    text-justify: inter-word;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
}

footer {
    height: auto;
    background-color: black !important;
}

.footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #01579b !important;
    margin-top: 50px;
}

.footer-copyright span {
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
}

.container h5 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px 0 10px;
    padding-top: 0;
    text-transform: uppercase;
}

.patrocinadores h5, .apoiadores h5, .social h5 {
    margin: 15px;
}

.patrocinadores a, .apoiadores a {
    margin: 5px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    /*top: 5px;*/
}